{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block main %}
    <div class="register">
        <form action="">
            <input type="text" name="input-user" placeholder="create user" autocomplete="off">
            <br>
            <input type="password" name="input-password" placeholder="Password" autocomplete="off">
            <br>
            <input type="text" name="input-lastname" placeholder="last name" autocomplete="off">
            <br>
            <input type="submit">
        </form>
    </div>
{% endblock%}